In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('health_news.csv')

In [3]:
df.head()

,Unnamed: 0,numbers,time,tweets
0,0,585978391360221184,Thu Apr 09 01:31:50 +0000 2015,Breast cancer risk test devised http://bbc.in/...
1,1,585947808772960257,Wed Apr 08 23:30:18 +0000 2015,GP workload harming care - BMA poll http://bbc...
2,2,585947807816650752,Wed Apr 08 23:30:18 +0000 2015,Short people's 'heart risk greater' http://bbc...
3,3,585866060991078401,Wed Apr 08 18:05:28 +0000 2015,New approach against HIV 'promising' http://bb...
4,4,585794106170839041,Wed Apr 08 13:19:33 +0000 2015,Coalition 'undermined NHS' - doctors http://bb...

In [4]:
df.drop(['numbers', 'time'], axis=1, inplace=True)

In [5]:
df.shape

(55230, 2)

In [6]:
df.isnull().values.any()

False

In [7]:
import re
import string

from Scripts.preprocessor import TwitterPreprocessor

import nltk
from nltk import pos_tag, map_tag
from nltk.corpus import sentiwordnet as swn
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from textblob import TextBlob
from afinn import Afinn

In [8]:
df['clean_text'] = df.tweets.apply(lambda x: TwitterPreprocessor(x).ml_preprocess().text)

In [9]:
df.head()

,Unnamed: 0,tweets,clean_text
0,0,Breast cancer risk test devised http://bbc.in/...,breast cancer risk test devised
1,1,GP workload harming care - BMA poll http://bbc...,gp workload harming care bma poll
2,2,Short people's 'heart risk greater' http://bbc...,short people heart risk greater
3,3,New approach against HIV 'promising' http://bb...,new approach hiv promising
4,4,Coalition 'undermined NHS' - doctors http://bb...,coalition undermined nhs doctors